{
    "presets": [
        "stage-1",
        ["env", {
            "modules": false
        }]
    ],
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ]
}
