test/javasource/
test/deployment/
test/.classpath
test/.project
test/theme/
test/userlib/
test/.classpath
test/.project
*.launch
*.tmp
*.lock
.idea/

build/

node_modules/

*DS_Store*
.vscode/
*.bak

yarn-error.log
